.content-tabs{
	display: none;
	/* quick fix del probema de flickering... hay un onReady en footer*/
}

.producto {
    max-height: 206px;
    max-width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.producto_grande{
	max-height: 419px !important;
}

#second .bg img{
max-width: 449px;
max-height: 507px;	
}

.novedad{
	max-height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.sin_imagen{
 min-height: 200px;
}

.slider_linea{
	font-family: 'Open Sans', sans-serif;
	color: white;	
	font-weight:300;
	font-size: 20px;
	font-size: 2.1vw;
}

.slider_sup{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight:800;
	font-size: 40px;
	font-size: 3.6vw;
}

.slider_inf{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight:400;
	font-size: 18px;
	font-size: 1.6vw
}

.inner p {
    margin: -13px 0 10px !important;
}

@media screen and (max-width: 568px) {
    .inner P {
        margin: -7vh 0 10px !important;
    }
}

.iconlist-wrap li{
	width: 100% !important;
}

.iconlist-wrap .icon-list-icons{
	margin: 0px !important;
}

.iconlist-title{
	margin-top: 10px !important;
}