.inner h1 {
    font-size: 70px !important;
}

.producto {
    max-height: 206px;
    max-width: 340px;
    margin-left: 33%;
}

#second .bg img{
max-width: 449px;
max-height: 507px;	
}

.novedad{
	max-height: 200px;
}

.sin_imagen{
 min-height: 200px;
}
